/*fonts
font-family: 'Marcellus', serif;
font-family: 'Gilda Display', serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Poiret One', cursive;
font-family: 'Lobster Two', cursive;*/


.navbarSection {
  background-color: white;
  height: 20em;
  background-image: url('../images/onion.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#logo {
  width: 12em;
  height: auto;
  margin: 2em;
  padding: 1em;
  background-color: rgba(219, 219, 212, 0.50);
  border-radius: 25px;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.links a {
  margin-right: 3em;
  padding: .5em;
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  background-color: rgba(219, 219, 212, 0.50);
  border-radius: 10px;
}

.welcomeTitle {
  font-family: 'Lobster Two', cursive;
  font-size: 7em;
  font-style: italic;
  margin-left: 1em;
}
